# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

boto3
jugaad-data==0.24
yfinance
numpy
pandas
scikit-learn==1.2.2
scipy==1.10.1
gurobipy
cvxpy
xlsxwriter==3.1.2
yahooquery
tqdm
openpyxl
yahooquery

